.center-image {
    display: block !important;
    margin: 0 auto !important;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

/*eshop*/
.ui-widget-content {

    border: none !important;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
}

/*

.ui-tree .ui-treenode {
    background-image: url("../../resources/images/menu_item_bg.png") !important;
    padding: 37px 0 0 !important;
}

.ui-tree .ui-treenode-label {
    padding: 0 35px !important;
}*/

.ui.accordion .title:not(.ui) {
    /*padding: 2.5em 0 !important;*/
    /* margin-bottom: 0.5em !important;*/
    background-repeat: repeat-y;

}

.itemBg {
    background-image: url("../../resources/images/mliecne_bg.png") !important;
    padding: 2.5em 0 !important;
    margin-bottom: 0.5em !important;
    background-repeat: repeat-y;

}

.ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui), .ui.accordion:not(.styled) .title ~ .content:not(.ui) {
    padding: 0 !important;
}

.landing-image {
    background-image: url('../../resources/images/header.png') !important;
    background-size: cover !important;
}

.euromenu {
    margin-top: -98px !important;
}

.itemSideMenu {
    background-color: #b3b3b3 !important;
    border-radius: 0px !important;
    border-style: solid !important;
    border-width: thin !important;
    border-color: #000000 !important;
}

.ui-inputfield {
    padding: 10px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

.headerDivider {
    border-left: 1px solid #38546d;
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}